
html,body {
  overflow:hidden;
}
* {
  scroll-behavior: smooth;
}
/*
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  border: none;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background: rgb(0, 0, 0);
  font-family: "Roboto", sans-serif;
  color: white;
}
a {
  color: #17A2B8;
}
.imageMask {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, 0.5) 82%,
    rgba(0, 0, 0, 0.9290091036414566) 95%,
    rgba(0, 0, 0, 1) 100%
  );
  height: calc(100vh + 2px);
  width: calc(100vh + 2px);
  z-index: 10;
}
img.round {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  height: calc(100vh + 2px);
  width: calc(100vh + 2px);
  display: block;
  z-index: 1;
  border-bottom: 2px white solid;
}
.roundDesc {
  
  position: absolute;
  top: 49%;
  left: 0%;
  transform: translate(0%, -50%);
  height: calc(100vh + 2px);
  width: calc(100vh + 2px);
  display: flex;
  align-items:flex-end;
  padding: 8px;
  z-index: 11;
}
.header {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(0%, -50%);
  width: 70vh;
  height: 70vh;
  font-size: 48px;
}
.header h1 {
  margin-bottom: 5%;
}
.elem {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.elem svg {
  margin-right: 2%;
}
.elem span {
  font-size: 34px;
  margin-left: 4px;
  color: #ffffffbb;
}

.alert {
  cursor: pointer;
  background-color: #28a74511;
  color: #28a745;
  border: #28a745 2px solid;
  border-radius: 8px;
  padding: 16px;
  transition: all 0.2s ease-in-out;
}
.alert:hover {
  background-color: #28a74538;
  color: #28a745;
  transition: all 0.2s ease-in-out;
}
.alert h1 {
  font-size: 28px;
}
.alert span {
  font-size: 18px;
  color: #28a745c2;
  border: #28a745 2px solid;
  border-radius: 8px;
  padding: 4px;
  background-color: #28a7451a;
}
.alert p {
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.popup {
  position: absolute;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.09, 0.36, 0.64, 0.97);
}
.popup.active {
  visibility: visible;
  opacity: 1;
}

input[type="text"] {
  font-size: 48px;
  border: none;
  background-color: transparent;
  font-weight: 700;
  color: white;
  outline: none;
  width: 100%;
}
input:not(:valid) {
  border-bottom: 2px solid white;
}
*/